<!DOCTYPE html>
<html lang="en">
  <head>
    <title>File Download</title>
  </head>
  <body>
    <h1>File Download	 Page</h1>
     
        {{range $val := .}}
        <form
          enctype="multipart/form-data"
          action="/download"
          method="post"
        >
          <div class="file">
            <p id="myFile" name="myFile" value="{{$val}}">{{$val}}</p>
            <input  type="password" name="myPassword" />
            <input type="submit" value="download" />
          </div>
        </form>
        {{end}}
      <!-- <select name="myFile">
        {{range $val := .}}
              <option value="{{$val}}">{{$val}}</option>
        {{end}}
      </select>
      <input type="text" name="myFile" /> -->
      <!-- <input type="password" name="myPassword" />
      <input type="submit" value="download" /> -->
    
    
  </body>
</html>
